* {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
  font-weight: bold;
}

body {
  background-image: url('bgYarn.png');
  background-size: contain;
  height: 100vh;
  width: 100vw;
}


.noYarn {
  background-color: white;
}

.section {
  position: relative;
  border: none;

}

.landPage, .landPageSmall {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

/*First page*/

.first {
  background-color: rgb(240, 179, 151);
}

.howdy {
  background-color: rgb(240, 179, 151);
  border: none;
  font-size: 120px;
  top: 0;
  margin: 0 auto;
  text-align: center;
  color: white;

}

.startCart {
  height: 60vh;

}

.startCart img {
  position: absolute;
  margin: 0;
  width: 40%;
  height: 50%;
}

@media screen and (max-width:414px) {
  .startCart img {
    position: absolute;
    margin: 0;
    width: 90%;
    height: 60%;
    margin-left: 5%;
  }
}

/*Second page*/

.splash {
  bottom: -70px;
  height: 15%;
  margin: 0;
}

.splash img {
  bottom: -70px;
  position: absolute;
  width: 100vw;
  margin: 0;
  z-index: 1;
}


.second {
  background-color: black;
}

.second p {
  color: white;
  transform: rotate(35deg);
  font-size: 60px;
  margin-left: 40%;
  margin-top: 0;
}

.secCart img {
  bottom: 0;
  position: absolute;
  width: 50vw;
  height: 60%;
  margin: 0;
  z-index: 0;
  left: -50px;
  top: 20%;
}



@media screen and (max-width:414px) {
  .secCart img {
    position: absolute;
    margin: 0;
    width: 65%;
    height: 45%;
    margin-top: 10%;
    margin-left: 5%;
    top: 30%;
  }

  .second p {
    transform: rotate(0deg);
    top: ;
    margin: 10px 30px 380px 30px;
    font-size: 45px;
  }
}

/*third page*/

.third {
  background-color: #34495e;
 }

.thirdText {

  margin: auto;
  color: white;
  font-size: 42px;
  z-index: 0;
  text-align: center;
}

.cartThr {
  margin: auto;
  height: auto;
}

.cartThr img{
  position: absolute;
  width: 45%;
  height: 50%;
  margin: 0;
  z-index: 1;
  right: 10px;
  overflow: hidden;

}

.doorDark img {
  z-index: 1;
  right: 0;
  height: 40%;
  width: 40%;
}




  /*.wondering3 {
    position: absolute;
    display: flex;
    bottom: 80%;
    left: 5%;
    transform: rotate(-30deg);
  }*/


@media screen and (max-width:414px) {
  .cartThr {
    position: absolute;
    margin: 0;
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-left: 5%;
    right: 0px;
  }

  .cartThr img {
    position: absolute;
    margin: 0;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .third p {
    margin: 0px 30px 0px 30px;
    font-size: 40px;
  }

  .doorDark  {
    z-index: 1;
    right: 0;
    height: 50vh;
    width: 50vw;
    margin-right: 0;
  }

  .doorDark img  {
    z-index: 1;
    right: 0;
    height: 90%;
    width: 100%;
    margin-right: 0;
  }

}


/*fourth page*/


.fourth {
  background-color: #3498db;
}



.red-yarn {
  position: absolute;
  display: flex;
  bottom: 0;

}

.sowing-table {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.fourthText {
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

@media screen and (max-width: 414px;) {
  .sowing-table,
  .wondering3 img {
    height: 50%;
    width: 50%;
  }
}

/*fifth page*/

.kitchen {
  background-image: url(images/kitchen.png);
  background-size: cover;
}

.kitchCart img {
  position: absolute;
  bottom: 0px;
  margin: 0;
  height: 50vh;
  width: 400px;
}


img {
  width: 30%;
  height: 40%;

}

/*.fp-viewing-1 .start,
.fp-viewing-3 .start,
.fp-viewing-4 .start,
.fp-viewing-5 .start,
.fp-viewing-6 .start,
.fp-viewing-7 .start,
.fp-viewing-8 .start,
.fp-viewing-9 .start,
.fp-viewing-10 .start,
.fp-viewing-11 .start,
.fp-viewing-12 .start,
.fp-viewing-13 .start,
.fp-viewing-14 .start,
.fp-viewing-15 .start,
.fp-viewing-16 .start,
.fp-viewing-17 .start,
.fp-viewing-18 .start,
.fp-viewing-19 .start,
.fp-viewing-20 .start {
  transform: rotate(360deg);
  transition-duration: 2s;
  transition-delay: 1s;
}*/

p {
  /*background-color: rgba(235, 127, 127, 0.8);
  border-color: rgb(244, 106, 110);
  border-style: dotted;*/
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top: 250px;
}
.height {
  height: 100%;
}


@media screen and (min-width:415px) {
    .landPageSmall {
        display:none;
    }
}

@media screen and (max-width:414px) {
    .landPage {
        display:none;
    }
}
