* {
  font-family: monospace;
  font-size: 18px;
}

body {
  background-image: url('bgYarn.png');
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.section {
  position: relative;
}

.landPage, .landPageSmall {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}


img {
  width: 30%;
  height: 40%;

}

/*.fp-viewing-1 .start,
.fp-viewing-3 .start,
.fp-viewing-4 .start,
.fp-viewing-5 .start,
.fp-viewing-6 .start,
.fp-viewing-7 .start,
.fp-viewing-8 .start,
.fp-viewing-9 .start,
.fp-viewing-10 .start,
.fp-viewing-11 .start,
.fp-viewing-12 .start,
.fp-viewing-13 .start,
.fp-viewing-14 .start,
.fp-viewing-15 .start,
.fp-viewing-16 .start,
.fp-viewing-17 .start,
.fp-viewing-18 .start,
.fp-viewing-19 .start,
.fp-viewing-20 .start {
  transform: rotate(360deg);
  transition-duration: 2s;
  transition-delay: 1s;
}*/

p {
  background-color: rgba(235, 127, 127, 0.8);
  border-color: rgb(244, 106, 110);
  border-style: dotted;
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top: 250px;
}
.height {
  height: 100%;
}


/*@media only screen and (min-width: 410px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 321px) {

}*/

@media screen and (min-width:415px) {
    .landPageSmall {
        display:none;
    }
}

@media screen and (max-width:414px) {
    .landPage {
        display:none;
    }
}
