body {
  background-image: url('bgYarn.png');
  height: 100vh;

}

.section {
  position: relative;
}

.landPage, .landPageSmall {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

img {
  width: 30%;
  height: 40%;
}

.start {
  width: 70vw;
  height: 50vh;
  transition: all 2s ease-in;
}

.fp-viewing-1 .start {
  transform: rotate(360deg);

}

@media screen and (min-width:415px) {
    .landPageSmall {
        display:none;
    }
}

@media screen and (max-width:414px) {
    .landPage {
        display:none;
    }
}

/*@media only screen and (min-width: 410px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 321px) {

}*/
